__pycache__/
*.py[cod]
*$py.class

build/
dist/
*.egg-info/
.eggs/

pip-log.txt
pip-delete-this-directory.txt

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

venv/
env/
ENV/

.vscode/
.idea/
*.swp
*.swo

Dockerfile
.dockerignore

.git/
.gitignore

*.log
*.sqlite3

.DS_Store
Thumbs.db

*.env

README.md
media/